<app-toast [message]="toast.message"></app-toast>

<div style=" width:330px;margin:0 auto;">
  <form [formGroup]="myForm" style="width: 330px;">
    <div class="form-group">
      <label> Employee name </label>
      <input class="form-control" type="text" formControlName="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label> User ID </label>
      <input class="form-control" type="text" formControlName="userID" placeholder="User ID">
    </div>
    <div class="form-group">
      <label> Position </label>
      <input class="form-control" type="text" formControlName="position" placeholder="Position">
    </div>
    <div class="form-group">
      <label> Department </label>
      <input class="form-control" type="text" formControlName="department"
             placeholder="Department">
    </div>
    <div class="form-group">
      <label> Country </label>
      <input class="form-control" type="text" formControlName="country"
             placeholder="Country">
    </div>
    <div class="form-group">
      <label> City </label>
      <input class="form-control" type="text" formControlName="city"
             placeholder="City">
    </div>
    <div class="form-group">
      <label> Email </label>
      <input class="form-control" type="text" formControlName="email"
             placeholder="E-mail">
    </div>
    <div class="form-group">
      <label> Phone number </label>
      <input class="form-control" type="text" formControlName="phoneNumber"
             placeholder="Phone Number">
    </div>
    <div class="form-group">
      <label> Company address </label>
      <input class="form-control" type="text" formControlName="companyAddress"
             placeholder="Company Address">
    </div>
    <div class="form-group">
      <label> Office </label>
      <input class="form-control" type="text" formControlName="office"
             placeholder="Office">
    </div>
    <div class="form-group">
      <label> Fax </label>
      <input class="form-control" type="text" formControlName="fax"
             placeholder="Fax #">
    </div>
    <div class="form-group">
      <label> Start hour </label>
      <input class="form-control" type="text" onfocus="(this.type='time')" formControlName="startingHours"
             placeholder="Starting Hours"/>
    </div>
    <div class="form-group">
      <label> Finish hour </label>
      <input  class="form-control" type="text" onfocus="(this.type='time')" formControlName="finishingHours"
              placeholder="Finishing Hours"/>
    </div>
    <label><i class="fa fa-chevron-circle-up"></i> Superiors </label>
    <a style="cursor: pointer; color: #07C" (click)="addSuperior()"> Add +</a>
    <div formArrayName="superiorsUserID">
      <div *ngFor="let address of myForm.controls.superiorsUserID.controls; let i=index">
        <div>
          <span>Superior {{i + 1}}</span>
          <span *ngIf="myForm.controls.superiorsUserID.controls.length > 0" (click)="removeSuperior(i)" style="cursor: pointer; color: #07C">
                    Remove -
          </span>
        </div>
        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">
          <div>
            <input class="form-control" type="text" formControlName="superiorID">
          </div>
        </div>
      </div>
    </div>
    <label><i class="fa fa-chevron-circle-down"></i> Subordinates </label>
    <a style="cursor: pointer; color: #07C" (click)="addSubordinate()"> Add +</a>
    <div formArrayName="subordinatesUserID">
      <div *ngFor="let address of myForm.controls.subordinatesUserID.controls; let i=index">
        <div>
          <span>Subordinate {{i + 1}}</span>
          <span *ngIf="myForm.controls.subordinatesUserID.controls.length > 0" (click)="removeSubordinate(i)" style="cursor: pointer; color: #07C">
                    Remove -
          </span>
        </div>
        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">
          <div>
            <input class="form-control" type="text" formControlName="subordinateID">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label> Image </label>
      <textarea class="form-control" rows="3" cols="5" type="text" formControlName="urlImage"
                placeholder="Image URL">
      </textarea>
    </div>

    <button class="btn btn-sm btn-primary" type="submit" (click)="addEmployee(myForm.value)" [disabled]="!myForm.valid"><i class="fa fa-floppy-o"></i> Save </button>
    <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel </button>
  </form>
</div>
