<!--<div class="container">-->
<!--<div>-->

  <nav class="navbar navbar-toggleable-md  bg-faded navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse">
      <div class="navbar-nav">
        <a routerLink="/" class="nav-item nav-link active" href="#">
          <i class="fa fa-home"></i>Home</a>
      </div>
    </div>
  </nav>

  <div id="container">
    <router-outlet></router-outlet>
  </div>

  <footer id="footer">Copyright &copy; 2017 Cristian & Marco.</footer>

<!--</div>-->
