#container{
  /*width: 930px;*/
  /*height: 600px;*/
  width: 100%;
  background-color: wheat;
  padding: 20px;
}
#footer{
  clear: both;
  padding: 10px;
  color: white;
  background-color: #999;
  /*text-align: right;*/
}
/*h1 {*/
/*font-size: 1.2em;*/
/*color: #999;*/
/*margin-bottom: 0;*/
/*}*/
/*h2 {*/
/*font-size: 2em;*/
/*margin-top: 0;*/
/*padding-top: 0;*/
/*}*/
/*nav a {*/
/*padding: 5px 10px;*/
/*text-decoration: none;*/
/*margin-top: 10px;*/
/*display: inline-block;*/
/*background-color: #eee;*/
/*border-radius: 4px;*/
/*}*/


/*.navbar{*/
  /*color: #45bf94;*/
  /*background-color: #428bca;*/
/*}*/
/*nav a:visited, a:link {*/
  /*color: #fdfffd;*/
/*}*/
/*nav a:hover {*/
  /*!*color: #5ee5bc;*!*/
  /*background-color:#53ace4;*/
/*}*/

/*nav a.active {*/
  /*color: #039be5;*/
/*}*/
/*a {*/
  /*color: white;*/
  /*text-decoration: none;*/
  /*text-align: left;*/
/*}*/
/*.nav {*/
  /*!*padding: 10px;*!*/

/*}*/

