<div *ngIf="isLoading">Loading ...</div>
<div *ngIf="!isLoading">

  <div id="container">
    <div id="left">

      <ul>
        <li id="editUl" (click)="gotoEdit()" > Edit </li>

        <li></li>
        <li id="deleteUl" (click)="deleteEmployee()"> Delete </li>
      </ul>
    </div>

    <div id="center">
      <div id="picture">
        <div>

          <img
            src={{employee.urlImage}}>

        </div>

      </div>
      <div id="info">
        <h2>{{employee.name}}</h2>
        <h5>{{employee.position}}, {{employee.department}}</h5>
        <br>
        <ul>
          <li>Country: {{employee.country}}</li>
          <li>City: {{employee.city}}</li>
          <li>E-mail: {{employee.email}}</li>
          <li>Phone Number: {{employee.phoneNumber}}</li>
          <br>
          <hr>
          <li>User ID: {{employee.userID}}</li>
          <li>Position: {{employee.position}}</li>
          <li>Department: {{employee.department}}</li>
          <li>Company Address: {{employee.companyAddress}}</li>
          <li>Office Number: {{employee.office}}</li>
          <li>Fax: {{employee.fax}}</li>
          <li>Working Hours: {{employee.startingHours}}-{{employee.finishingHours}}</li>
        </ul>


      </div>
    </div>
    <div id="right">
      <ul>
        <li id="superior" (click)="gotoEmployee(superior.userID)" *ngFor="let superior of superiorsObj">{{superior?.name}}</li>
        <li><i class="fa fa-chevron-circle-up"></i><b> Superiors</b> </li>
        <hr>
        <li>{{employee.name}}</li>
        <hr>
        <li><i class="fa fa-chevron-circle-down"></i><b>Subordinates</b> </li>
        <li id="subordinate" (click)="gotoEmployee(subordinate.userID)" *ngFor="let subordinate of subordinatesObj">{{subordinate?.name}}</li>
      </ul>
    </div>


  </div>
</div>

